<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/styles-about.css">
        <title>About me</title>
        <link rel="icon" type="image/png" href="../Images/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
     <body class="wrapper">
        <img class="logo" src="../Images/Vértice Norte.png">
        <div class="header"> 
            <h1 class="h1" >VÉRTICE NORTE</h1>
            <nav>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../index.html">Inicio |</a>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../Views/proyects.html">Proyectos |</a>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../index.html#contacto">Contacto</a>
            </nav>
        </div>

        <section id="about-me" class="about-me">
            <div class="about-container">
                <div class="about-text">
                    <h2 class="h2">About. . . me</h2>
                    <p> Soy geógrafa de formación con más de 10 años de experiencia en <strong>Sistemas de Información Geográfica (SIG)</strong>, 
                análisis territorial y gestión de proyectos urbanos y sociales. Me apasiona traducir datos en información visual 
                clara que apoye la toma de decisiones y contribuya a generar impacto positivo en el territorio y la comunidad.</p>

                    <h3 class="h3">Mi trayectoria</h3>

                    <p>A lo largo de mi carrera he colaborado en instituciones públicas, organizaciones civiles y el sector privado, 
                siempre con el enfoque de aplicar las herramientas SIG en contextos diversos. Inicié en <strong>CONABIO</strong>, 
                donde participé en la georreferenciación de colecciones biológicas y elaboración de cartografía temática. 
                Más adelante, en <strong>CONAVI</strong>, contribuí al análisis de reservas territoriales y a la validación geoespacial 
                de bases de datos de vivienda.</p>

                    <p>En el ámbito privado, trabajé para <strong>Wise Map Making</strong> y <strong>Tecnología Dinámica & Soluciones</strong>, 
                apoyando la construcción y corrección de cartografía digital para aplicaciones de navegación y 
                estrategias corporativas.</p>

                    <p>Mi experiencia en gobierno incluye mi paso por la <strong>Secretaría de Desarrollo Económico de la CDMX</strong>, 
                donde lideré proyectos de análisis de información y atención a usuarios en la Oficina Virtual de Información Económica, 
                y en el <strong>Instituto para la Atención y Prevención de las Adicciones (IAPA)</strong>, donde elaboré cartografía 
                e infografías para más de mil mapas anuales sobre factores de riesgo en escuelas públicas.</p>
            
                    <p>En años recientes, he fortalecido mi perfil colaborando con despachos como <strong>Inteligencia Urbana y 
                Territorial</strong> e iniciativas sociales como <strong>IDECIS A.C.</strong>, elaborando mapas, diagnósticos y 
                reportes para Programas de Desarrollo Urbano, Evaluaciones de Impacto Social y proyectos estratégicos de 
                planeación territorial.</p>
                
                    <p>Hoy complemento esta experiencia con la <strong>gestión digital y el desarrollo de páginas web</strong>, 
                    ampliando mi campo de acción hacia la comunicación estratégica y la presencia digital de proyectos y marcas.</p>

                    <h3 class="h3">Actualmente</h3>
  
                    <p>Actualmente busco seguir consolidando mi perfil como especialista en SIG y gestión digital, participando en proyectos 
                que combinen análisis territorial, planeación urbana y comunicación estratégica. Mi objetivo es aportar soluciones 
                innovadoras y bien fundamentadas, que fortalezcan tanto el desarrollo de las ciudades como la presencia digital de 
                organizaciones y marcas. Creo en la importancia de unir el rigor técnico con la creatividad, para generar resultados 
                claros, útiles y con impacto positivo en la sociedad.</p>

                    <h3>Más allá de lo profesional</h3>
                    <p>Además de mi trayectoria laboral, tuve la oportunidad de ser <strong>pacer para Nike</strong> durante aproximadamente dos años, 
                        formando parte de su comunidad de corredoras. Esta experiencia reforzó en mí la importancia de la disciplina, la constancia y 
                        la capacidad de inspirar a otros a alcanzar sus metas. Valores que, más allá del ámbito deportivo, también aplico en mi quehacer 
                        profesional y en la gestión de proyectos.</p>
                </div>
                <div class="about-photo polaroid">
                    <img src="../Images/Raquel_Perez_Geo.JPG" alt="Raquel Pérez Neri">
                    <p class="caption">Me✨</p>
            </div>
        </section>

        <div class="footer">
            <div class="footer-border">
                <h4 class="h4">Las ideas también se mueven en redes,<br>acompáñame!!</h4>
                <a href="https://github.com/LaReichel" target="_blank"><img class="media" src="../Images/github_logo_icon_206752.png"></a>
                <a href="https://www.instagram.com/simplementelarachel" target="_blank"><img class="media" src="../Images/Instagram_icon.png"></a>
                <a href="https://www.linkedin.com/in/raquel-p%C3%A9rez-neri-61112178" target="_blank"><img class="media" src="../Images/hd-linkedin-blue-official-logo-png-701751694779201bpivk39ebc.png"></a>
                <a href="https://wa.me/5580136129" target="_blank"><img class="media" src="../Images/pngtree-whatsapp-icon-png-image_3584844.png"></a>
            </div>
        </div>         
    
     </body>
