<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/styles-proyects.css">
        <title>Proyectos</title>
        <link rel="icon" type="image/png" href="../Images/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    
    <body class="wrapper">
        <img class="logo" src="../Images/Vértice Norte.png">
        <div class="header"> 
            <h1 class="h1" >VÉRTICE NORTE</h1>
            <nav>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../index.html">Inicio |</a>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../Views/About-me.html" >About...me |</a>
                <a style="text-decoration: none; color: rgb(116, 61, 183)" href="../index.html#contacto">Contacto</a>
            </nav>
        </div>

        <section class="proyectos">
            <h2 class="h2">Algunos trabajos...</h2>
            
            <div id="Conabio">
                <h3 class="h3">Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO)</h3>
                    <div class="zmta">
                        <figure>
                        <a href="../Images/CONABIO/regiones_economicas.png" target="_blank"><img src="../Images/CONABIO/regiones_economicas.png" alt="Regiones Económicas de México"></a>
                        <figcaption>Regiones Económicas de México</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Linden_Jean_Jules.png" target="_blank"><img src="../Images/CONABIO/Linden_Jean_Jules.png" alt="Principales zonas de colecta. Linden, Jean Jules"></a>
                            <figcaption>Principales zonas de colecta. Linden, Jean Jules</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Linder_David_Hunt.png" target="_blank"><img src="../Images/CONABIO/Linder_David_Hunt.png" alt="Principales zonas de colecta. Linder, David Hunt"></a>
                            <figcaption>Principales zonas de colecta. Linder, David Hunt</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Lindheimer_Ferdinand_Jako.png" target="_blank"><img src="../Images/CONABIO/Lindheimer_Ferdinand_Jako.png" alt="Principales zonas de colecta. Lindheimer, Ferdinand Jako"></a>
                            <figcaption>Principales zonas de colecta. Lindheimer, Ferdinand Jako</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Lloyd_Francis_Ernest.png" target="_blank"><img src="../Images/CONABIO/Lloyd_Francis_Ernest.png" alt="Principales zonas de colecta. Lloyd, Francis Ernest"></a>
                            <figcaption>Principales zonas de colecta. Lloyd, Francis Ernest</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Lyonnet_Hnos.png" target="_blank"><img src="../Images/CONABIO/Lyonnet_Hnos.png" alt="Principales zonas de colecta. Lyonnet, Hno. Pierre, (Nicet-Ernest)('Ernest')"></a>
                            <figcaption>Principales zonas de colecta. Lyonnet, Hno. Pierre, (Nicet-Ernest)('Ernest')</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/MacDougal_Daniel_Trembly.png" target="_blank"><img src="../Images/CONABIO/MacDougal_Daniel_Trembly.png" alt="Principales zonas de colecta. MacDougal, Daniel Trembly"></a>
                            <figcaption>Principales zonas de colecta. MacDougal, Daniel Trembly</figcaption>
                        </figure>

                        <figure>
                            <a href="../Images/CONABIO/Makrinius_Emil.png" target="_blank"><img src="../Images/CONABIO/Makrinius_Emil.png" alt="Principales zonas de colecta. Makrinius Emil"></a>
                            <figcaption>Principales zonas de colecta. Makrinius Emil</figcaption>
                        </figure>
                    </div>
            </div>

            <div id="PDU">
                <h3 class="h3">Comisión Nacional de Vivienda (CONAVI)</h3>
                    <div class="cardkmz">
                            <h4 class="h4">Perímetros de Contención Urbana, 2013<br>Descargable</h4>
                            <p class="card-text">Se participó de manera activa en la elaboración de los Perímetros de Contención Urbana (PCU) y en la validación 
                                de las reservas territoriales. Los PCU constituyen un instrumento de planeación territorial en México cuyo objetivo es 
                                regular y ordenar el crecimiento de las ciudades, delimitando hasta dónde puede expandirse el área urbana y bajo qué condiciones. 
                                Su propósito principal es evitar la expansión descontrolada, promover un crecimiento compacto y garantizar que el 
                                desarrollo habitacional se lleve a cabo en zonas con acceso a empleo, servicios e infraestructura adecuada. 
                                En esta sección se presentan los PCU de 2013, en cuya formulación se tuvo participación directa. 
                                En actualizaciones posteriores ya no se colaboró, pues los PCU vigentes pertenecen a SEDATU.</p>
                            <div class="kmzdowload">
                                <a class="linkkmz" href="../Images/PCU_2013_KMZ/PCU2013_U1.kmz" download><img class="iconkmz" src="../Images/PCU_2013_KMZ/Google_Earth_Icon.png">U1</img></a>
                                <a class="linkkmz" href="../Images/PCU_2013_KMZ/PCU2013_U2.kmz" download><img class="iconkmz" src="../Images/PCU_2013_KMZ/Google_Earth_Icon.png">U2</img></a>
                                <a class="linkkmz" href="../Images/PCU_2013_KMZ/PCU2013_U3.kmz" download><img class="iconkmz" src="../Images/PCU_2013_KMZ/Google_Earth_Icon.png">U3</img></a>
                                <a class="linkkmz" href="../Images/PCU_2013_KMZ/PCU2013_U3_CDMXNORTE_.kmz" download><img class="iconkmz" src="../Images/PCU_2013_KMZ/Google_Earth_Icon.png">U3 CDMX norte</img></a>
                                <a class="linkkmz" href="../Images/PCU_2013_KMZ/PCU2013_U3_CDMXSUR_.kmz" download><img class="iconkmz" src="../Images/PCU_2013_KMZ/Google_Earth_Icon.png">U3 CDMX sur</img></a>
                            </div>
                        </div>
                    <div class="card-pcu">
                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>México</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_nacional.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_nacional.jpg" alt="Perímetro de Contención Urbana, Nacional, 2013"></a>
                        </div>

                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana<br>CDMX</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_cdmx.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_cdmx.jpg" alt="Perímetro de Contención Urbana de la Ciudad de México, 2013"></a>
                        </div>

                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>Cancún</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_cancun.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_cancun.jpg" alt="Perímetro de Contención Urbana, Cancún, 2013"></a>
                        </div>

                         <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>Cuernavaca</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_cuernavaca.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_cuernavaca.jpg" alt="Perímetro de Contención Urbana, Cuernavaca, 2013"></a>
                        </div>

                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>Guadalajara</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_gdl.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_gdl.jpg" alt="Perímetro de Contención Urbana, Guadalajara, 2013"></a>
                        </div>

                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>Mérida</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_merida.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_merida.jpg" alt="Perímetro de Contención Urbana, Méridad, 2013"></a>
                        </div>

                        <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>Pachuca</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_pachuca.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_pachuca.jpg" alt="Perímetro de Contención Urbana, Pachuca, 2013"></a>
                        </div>

                         <div class="cardpcu">
                            <h4 class="h4">Perímetro de Contención Urbana,<br>ZM Puebla - Tlaxcala</h4>
                            <a href="../Images/PCU_2013_KMZ/pdu_pue-tlax.jpg" target="_blank">
                            <img class="card-map" src="../Images/PCU_2013_KMZ/pdu_pue-tlax.jpg" alt="Perímetro de Contención Urbana, ZM Puebla - Tlaxcala, 2013"></a>
                        </div>
                    </div>
            </div>

            <div id="SEDECO">
            <h3 class="h3">Secretaría de Desarollo Económico de la Ciudad de México (SEDECO)</h3>
                <div class="sedeco">
                    <h4 class="h4">Oficina Virtual de Información Económica</h4>
                        <p class="card-text">La Oficina Virtual de Información Económica (OVIE) es una plataforma gratuita de información geográfica que concentra 
                            datos económicos, sociodemográficos y territoriales de forma sencilla y accesible. Su finalidad es apoyar a emprendedores, inversionistas 
                            y ciudadanos interesados en conocer mejor el entorno en el que se desarrollan. A través de la OVIE se pueden consultar indicadores clave 
                            que facilitan la toma de decisiones y la planeación de proyectos. La herramienta combina mapas y estadísticas en un solo espacio digital, 
                            lo que permite visualizar la información de manera clara y práctica. Además, promueve la transparencia y democratización del acceso a los 
                            datos económicos, fortaleciendo así la competitividad regional. En esencia, la OVIE se convierte en un recurso estratégico para analizar 
                            la realidad económica y social de la Ciudad de México, brindando orientación tanto a nivel individual como colectivo.</p>
                </div>
                <div>
                    <div class="card-sedeco">
                        <div class="card-ovie">
                            <p class="card-text">Análisis Económico de la Alcaldía La Magdalena Contreras</p>
                            <a href="../Images/SEDECO/Ovie_Econo.png" target="_blank"><img class="card-map" src="../Images/SEDECO/Ovie_Econo.png" alt="Análisis Económico, OVIE"></a>
                        </div>

                        <div class="card-ovie">
                            <p class="card-text">Análisis Económico de la Alcaldía La Magdalena Contreras, busqueda por actividad económica.</p>
                            <a href="../Images/SEDECO/Ovie_Econo2.png" target="_blank"><img class="card-map" src="../Images/SEDECO/Ovie_Econo2.png" alt="Análisis Económico, OVIE"></a>
                        </div>

                        <div class="card-ovie">
                            <p class="card-text">Análisis sociodemográfico de la Alcaldía La Magdalena Contreras</p>
                            <a href="../Images/SEDECO/Ovie_Sociodemo.png" target="_blank"><img class="card-map" src="../Images/SEDECO/Ovie_Sociodemo.png" alt="Análisis sociodemográfico, OVIE"></a>
                        </div>

                        <div class="card-ovie">
                            <h4 class="h4">Análisis Especializados, OVIE</h4>
                            <p class="card-text">A partir de los datos generados por la Oficina Virtual de Información Económica (OVIE), se llevaron a cabo diversos 
                            análisis y estadísticas sobre problemáticas relevantes para la ciudad. Entre ellos destaca este trabajo de Marginación Urbana, 
                            elaborado con base en la información proporcionada por la plataforma, que permitió identificar y representar territorialmente las 
                            desigualdades socioeconómicas en el entorno urbano.</p>
                            <a class="linkkmz"  href="../Images/SEDECO/Marginalidad.pdf" target="_blank"><img class="icon" src="../Images/PDF_file_icon.svg.png">Marginalidad OVIE</a>
                        </div>
                    </div> 
                </div>
            </div>

            <div id="IAPA">
            <h3 class="h3">Instituto de Atención y Prevención de las Adicciones en la Ciudad de México (IAPA)</h3>
                <div class="card-iapa">
                    <h4 class="h4">Densidad de Carpetas de Investigación de Narcomenudeo y Violencia Intrafamiliar</h4>
                    <div class="card-video">
                        <p class="card-text">El proyecto integra tanto la visualización dinámica como los mapas anuales que conforman la serie temporal, 
                            permitiendo observar la evolución y la distribución territorial de ambas problemáticas en la Ciudad de México. 
                            Esta representación facilita identificar tendencias, concentraciones y variaciones a lo largo de los años, brindando una herramienta 
                            útil para comprender la magnitud del fenómeno y apoyar la toma de decisiones en materia de prevención y atención.</p>
                        <a href="../Images/IAPA/narco2016-2022.mp4" target="_blank"><video class="videomap" src="../Images/IAPA/narco2016-2022.mp4" alt="Densidad de Carpetas Narcomenudeo 2016-2022" autoplay muted loop></video></a>
                            <div class="mapitas">
                                <a href="../Images/IAPA/narcomenudeo_ids_2022.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/narcomenudeo_ids_2022.jpg" alt="Densidad de Carpetas Narcomenudeo e IDS 2022"></a>
                                <a href="../Images/IAPA/violencia_familiar_ids_2022.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/violencia_familiar_ids_2022.jpg" alt="Densidad de Carpetas Violencia Intrafamiliar e IDS 2022"></a>
                                <a href="../Images/IAPA/violencia_2021.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/violencia_2021.jpg" alt="Densidad de Carpetas Violencia Intrafamiliar 2021"></a>
                                <a href="../Images/IAPA/vf2020.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/vf2020.jpg" alt="Densidad de Carpetas Violencia Intrafamiliar 2020"></a>
                                <a href="../Images/IAPA/heatmap_narco.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/heatmap_narco.jpg" alt="Densidad de Carpetas Narcomenudeo 2019"></a>
                                <a href="../Images/IAPA/heatmap_vf.jpg" target="_blank"><img class="mapita" src="../Images/IAPA/heatmap_vf.jpg" alt="Densidad de Carpetas Violencia Intrafamiliar 2019"></a>
                            </div>
                    </div>
                </div>

                <div class="card-iapa">
                    <div class="infografia">
                        <h4 class="h4">Infografías sobre las distintas sustancias psicotrópicas</h4>
                        <p class="card-text">Además de los mapas, se elaboraron diversas infografías para el Observatorio de Sustancias Psicotrópicas, 
                            en las que se presentan datos y estadísticas sobre distintas sustancias, con el objetivo de comunicar la información de manera clara, 
                            accesible y visualmente atractiva.</p>
                    </div>
                        <div class="infografias">
                            <figure>
                                <a href="../Images/IAPA/infografias/accidentes_alcohol.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/accidentes_alcohol.jpg" alt="Infografía Alcohol"></a>
                                <figcaption>Accidentes por Alcohol</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/defunciones_sustancias.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/defunciones_sustancias.jpg" alt="Defunciones relacionadas con el consumo de sustancias psicoactivas 2011 -2021"></a>                                    
                                <figcaption>Defunciones relacionadas con el consumo de sustancias psicoactivas 2011 -2021</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/alcohol_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/alcohol_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de alcohol 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de alcohol 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/cigarro_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/cigarro_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de tabaco 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de tabaco 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/cannabinoides_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/cannabinoides_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de cannabinoides 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de cannabinoides 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/alucinogenos_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/alucinogenos_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de alucinógenos 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de alucinógenos 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/cocaina_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/cocaina_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de cocaina 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de cocaina 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/opiaceos_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/opiaceos_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de opiáceos 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de opiáceos 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/sedantes_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/sedantes_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de sedantes 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de sedantes 2016-2020</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/infografias/inhalantes_trastornos.jpg" target="_blank"><img class="info" src="../Images/IAPA/infografias/inhalantes_trastornos.jpg" alt="Transtornos mentales y del comportamiento debido al uso de inhalantes 2016-2020"></a>
                                <figcaption>Transtornos mentales y del comportamiento debido al uso de inhalantes 2016-2020</figcaption>
                            </figure>
                        </div>                           
                </div>
            
                <div class="card-iapa">
                    <div class="diagnosticos">
                        <h4 class="h4">Factores de Riesgo</h4>
                        <p class="card-text">Dentro de las actividades realizadas en el Instituto de Atención y Prevención de las Adicciones de la Ciudad de México 
                            (IAPA), entre 2019 y 2023 se llevó a cabo el Diagnóstico de Factores de Riesgo en cada una de las alcaldías de la Ciudad de México. 
                            Este proyecto representó uno de los trabajos más robustos del periodo, ya que, siguiendo las instrucciones de la entonces 
                            jefa de gobierno Claudia Sheinbaum, se analizaron <strong>315 colonias prioritarias</strong> junto con la totalidad de las escuelas públicas de 
                            educación básica ubicadas en dichas colonias. En conjunto, esto dio como resultado la elaboración de <strong>más de 1,000 mapas anuales,</strong> 
                            que documentaron de manera detallada los contextos de riesgo y vulnerabilidad en el territorio.</p>
                    </div>
                        <div class="escuelas">
                            <figure>
                                <a href="../Images/IAPA/FR/escuela_ejercito_de_oriente.png" target="_blank"><img class="info" src="../Images/IAPA/FR/escuela_ejercito_de_oriente.png" alt="Escuela Ejercito de Oriente"></a>
                                <figcaption>Escuela Ejercito de Oriente</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/escuela_rep_dominicana.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/escuela_rep_dominicana.jpg" alt="Escuela Rep.Dominicana"></a>
                                <figcaption>Escuela Rep.Dominicana</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/escuela_republica_de_honduras.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/escuela_republica_de_honduras.jpg" alt="Escuela Republica de Honduras"></a>
                                <figcaption>Escuela Republica de Honduras</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/prof_gabriel_lucio_argurlles.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/prof_gabriel_lucio_argurlles.jpg" alt="Escuela Prof. Gabriel Lucio Arguelles"></a>
                                <figcaption>Escuela Prof. Gabriel Lucio Arguelles</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/secundaria_tec_7.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/secundaria_tec_7.jpg" alt="Secundaria Técnica 7"></a>
                                <figcaption>Secundaria Técnica 7</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/telesecundaria_70.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/telesecundaria_70.jpg" alt="Telesecundaria 70"></a>
                                <figcaption>Telesecundaria 70</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/telesecundaria_91.jpg 91.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/telesecundaria_91.jpg 91.jpg" alt="Telesecundaria 91"></a>
                                <figcaption>Telesecundaria 91</figcaption>  
                            </figure>
                             <figure>
                                <a href="../Images/IAPA/FR/desarrollo_urbano_quetzacoalt.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/desarrollo_urbano_quetzacoalt.jpg" alt="Desarrollo Urbano Quetzacoalt"></a>
                                <figcaption>Colonia Desarrollo Urbano Quetzalcoalt</figcaption>  
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/ejercito_oriente.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/ejercito_oriente.jpg" alt="Ejercito de Oriente.jpg"></a>
                                <figcaption>Colonia Ejercito de Oriente</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/morelos_2.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/morelos_2.jpg" alt="Morelos II"></a>
                                <figcaption>Colonia Morelos II</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/pedregal_santo_domingo.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/pedregal_santo_domingo.jpg" alt="Pedregal de Santo Domingo"></a>
                                <figcaption>Colonia Pedregal de Santo Domingo</figcaption>
                            </figure>
                            <figure>
                                <a href="../Images/IAPA/FR/penitenciaria.jpg" target="_blank"><img class="info" src="../Images/IAPA/FR/penitenciaria.jpg" alt="Penitenciaria"></a>
                                <figcaption>Colonia Penitenciaria</figcaption>
                            </figure>
                        </div>
                </div>
                                    
            </div>

            <div id="PDUZMTA">
                <h3 class="h3">Programa de Ordenamiento Territorial de la Zona Metropolitana Tlaxcala Apizaco</h3>
                <p class="pduzmta"> Se prestaron servicios tanto en la elaboración de diversos capítulos como en la generación de la cartografía digital correspondiente 
                    a la Actualización del Programa de Ordenamiento Territorial de la Zona Metropolitana Tlaxcala - Apizaco. 
                    Para la construcción de este Programa se llevaron a cabo reuniones y mesas de trabajo con autoridades y actores clave, 
                    lo que permitió integrar distintas perspectivas en el proceso. Se desempeñó un papel central en la gestión y producción de la 
                    cartografía digital, entregada posteriormente a SEDATU, institución encargada de incorporarla al Sistema de Información Territorial 
                    y Urbano (SITU), donde actualmente se encuentra disponible para consulta pública.
                </p>

                <div class="zmta">
                    <figure>
                        <a href="../Images/PDUZMTA/pob_ocupada_sector_economico.jpg" target="_blank"><img src="../Images/PDUZMTA/pob_ocupada_sector_economico.jpg" alt="Concentración de personal ocupado por sector económico"></a>
                        <figcaption>Concentración de personal ocupado por sector económico</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/densidad_poblacion.jpg" target="_blank"><img src="../Images/PDUZMTA/densidad_poblacion.jpg" alt="Densidad de Población"></a>
                        <figcaption>Densidad de Poblacion</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/vial.jpg" target="_blank"><img src="../Images/PDUZMTA/vial.jpg" alt="Jerarquía vial"></a>
                        <figcaption>Jerarquía vial</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/manzanas_restriccion_acceso_autos.jpg" target="_blank"><img src="../Images/PDUZMTA/manzanas_restriccion_acceso_autos.jpg" alt="Manzanas con restricción de acceso de autos en alguna de sus vialidades"></a>
                        <figcaption>Manzanas con restricción de acceso de autos en alguna de sus vialidades</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/pendientes.jpg" target="_blank"><img src="../Images/PDUZMTA/pendientes.jpg" alt="Pendientes mayores a 15 grados"></a>
                        <figcaption>Pendientes mayores a 15 grados</figcaption>
                    </figure>
                     <figure>
                        <a href="../Images/PDUZMTA/riesgo_geologico.jpg" target="_blank"><img src="../Images/PDUZMTA/riesgo_geologico.jpg" alt="Riesgos geológicos"></a>
                        <figcaption>Riesgos geológicos</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/estrategias.jpg" target="_blank"><img src="../Images/PDUZMTA/estrategias.jpg" alt="Estrategias"></a>
                        <figcaption>Estrategias</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUZMTA/mot.jpg" target="_blank"><img src="../Images/PDUZMTA/mot.jpg" alt="Modelo de Ordenamiento Territorial"></a>
                        <figcaption>Modelo de Ordenamiento Territorial</figcaption>
                    </figure>
                </div>
            </div>

            <div id="PDUCPBH">
                <h3 class="h3">Programa de Desarrollo Urbano del Centro de Población de Bahías de Huatulco</h3>
                <p class="pducpbh"> Se participó en la elaboración del Programa de Desarrollo del Centro de Población de Bahías de Huatulco, 
                    un instrumento clave para orientar el crecimiento urbano y turístico en esta zona de alto valor ambiental y estratégico. 
                    Como parte del proceso, se desarrolló la cartografía digital necesaria para sustentar los diagnósticos y propuestas, además de 
                    colaborar en reuniones técnicas y mesas de trabajo con autoridades y actores locales. El trabajo realizado permitió integrar 
                    la información territorial en un documento que buscó equilibrar la planeación urbana con la conservación ambiental, estableciendo 
                    lineamientos para un desarrollo ordenado, sostenible y con acceso a servicios e infraestructura.
                </p>

                <div class="cpbh">
                    <figure>
                        <a href="../Images/PDUCPBH/cambios_zp.jpg" target="_blank"><img src="../Images/PDUCPBH/cambios_zp.jpg" alt="Cambios en la zonificación primaria"></a>
                        <figcaption>Cambios en la zonificación primaria</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/hidrologia.jpg" target="_blank"><img src="../Images/PDUCPBH/hidrologia.jpg" alt="Hidrológia"></a>
                        <figcaption>Hidrológia</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/r_hidrometeorologico.jpg" target="_blank"><img src="../Images/PDUCPBH/r_hidrometeorologico.jpg" alt="Riesgos Hidrometeorológicos"></a>
                        <figcaption>Riesgos Hidrometeorológicos</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/densidad_pob.jpg" target="_blank"><img src="../Images/PDUCPBH/densidad_pob.jpg" alt="Densidad de Población"></a>
                        <figcaption>Densidad de Población</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/topografia.jpg" target="_blank"><img src="../Images/PDUCPBH/topografia.jpg" alt="Topografía"></a>
                        <figcaption>Topografía</figcaption>
                    </figure>
                     <figure>
                        <a href="../Images/PDUCPBH/aptitud_urbana.jpg" target="_blank"><img src="../Images/PDUCPBH/aptitud_urbana.jpg" alt="Aptitud Urbana"></a>
                        <figcaption>Aptitud Urbana</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/geologicos.jpg" target="_blank"><img src="../Images/PDUCPBH/geologicos.jpg" alt="Riesgos Geológicos"></a>
                        <figcaption>Riesgos Geológicos</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/PDUCPBH/pducpbh_zs.jpg" target="_blank"><img src="../Images/PDUCPBH/pducpbh_zs.jpg" alt="Zonificación Secundaria"></a>
                        <figcaption>Zonificación Secundaria</figcaption>
                    </figure>
                </div>
            </div>

            <div id="mahahual">
                <h3 class="h3">Impacto Social del redesarrollo del puerto de cruceros en Mahahual</h3>
                <p class="pduzmta"> Se participó en el redesarrollo del puerto de cruceros en Mahahual, mediante la elaboración de cartografía y 
                    el procesamiento de información geoespacial orientada al levantamiento de datos sociales en la zona de influencia del proyecto. 
                    Además, se colaboró en la redacción de los apartados técnicos relacionados con la descripción geográfica y el análisis del contexto económico, 
                    aportando insumos clave para comprender las dinámicas territoriales y las implicaciones del desarrollo turístico en la región.
                </p>

                <div class="zmta">
                    <figure>
                        <a href="../Images/Mahahual/actividades_economicas.png" target="_blank"><img src="../Images/Mahahual/actividades_economicas.png" alt="Actividades Económicas"></a>
                        <figcaption>Actividades Económicas</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/area_influencia_externa.png" target="_blank"><img src="../Images/Mahahual/area_influencia_externa.png" alt="Área Influencia Externa"></a>
                        <figcaption>Área Influencia Externa</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/area_influencia.png" target="_blank"><img src="../Images/Mahahual/area_influencia.png" alt="Área de Influencia"></a>
                        <figcaption>Área de Influencia</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/densidad_vivienda.png" target="_blank"><img src="../Images/Mahahual/densidad_vivienda.png" alt="Densidad de vivienda"></a>
                        <figcaption>Densidad de vivienda</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/empleo.png" target="_blank"><img src="../Images/Mahahual/empleo.png" alt="Empleo"></a>
                        <figcaption>Empleo</figcaption>
                    </figure>
                     <figure>
                        <a href="../Images/Mahahual/isocronas.png" target="_blank"><img src="../Images/Mahahual/isocronas.png" alt="Isocronas"></a>
                        <figcaption>Isocronas</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/lenvantamiento_etnografico.png" target="_blank"><img src="../Images/Mahahual/lenvantamiento_etnografico.png" alt="Levantamiento Etnográfico"></a>
                        <figcaption>Levantamiento Etnográfico</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/Mahahual/sectores.png" target="_blank"><img src="../Images/Mahahual/sectores.png" alt="Sectores"></a>
                        <figcaption>Sectores</figcaption>
                    </figure>
                </div>
            </div>

            <div id="EVIS">
                <h3 class="h3">Evaluación del impacto social para grandes Construcciones de la Ciudad de México</h3>
                <p class="pducpbh">Se participó en la elaboración de los capítulos 1 al 7 de dos Evaluaciones de Impacto Social (EvIS) 
                    para Grandes Construcciones, contribuyendo de manera activa en la redacción de contenidos técnicos, la generación de cartografía temática 
                    y el análisis de proyecciones espaciales vinculadas con el entorno social y territorial. Este trabajo permitió integrar información clave 
                    para valorar los posibles impactos de los proyectos y fortalecer la planeación con una perspectiva integral y territorial.
                </p>

                <div class="cpbh">
                    <figure>
                        <a href="../Images/EvIS/culturales_recreativos.png" target="_blank"><img src="../Images/EvIS/culturales_recreativos.png" alt="Lugares culturales y recreativos"></a>
                        <figcaption>Lugares culturales y recreativos</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/cobertura_metro.png" target="_blank"><img src="../Images/EvIS/cobertura_metro.png" alt="Cobertura del STC Metro"></a>
                        <figcaption>Cobertura del STC Metro</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/poblacion_nacida_misma_entidad.png" target="_blank"><img src="../Images/EvIS/poblacion_nacida_misma_entidad.png" alt="Porcentaje de población nacida en la misma entidad"></a>
                        <figcaption>Porcentaje de población nacida en la misma entidad</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/ue_ais.png" target="_blank"><img src="../Images/EvIS/ue_ais.png" alt="Distribución de las unidades económicas en el AIS"></a>
                        <figcaption>Distribución de las unidades económicas en el AIS</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/pob_ocupada_ais.jpg" target="_blank"><img src="../Images/EvIS/pob_ocupada_ais.jpg" alt="Concentración de Población ocupada"></a>
                        <figcaption>Concentración de Población ocupada</figcaption>
                    </figure>
                     <figure>
                        <a href="../Images/EvIS/pob_ss.png" target="_blank"><img src="../Images/EvIS/pob_ss.png" alt="Población afiliada a Servicios de Salud"></a>
                        <figcaption>Población afiliada a Servicios de Salud</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/escolaridad.png" target="_blank"><img src="../Images/EvIS/escolaridad.png" alt="Grado de escolaridad y ubicación de las escuelas dentro del área de Influencia Social"></a>
                        <figcaption>Grado de escolaridad y ubicación de las escuelas dentro del área de Influencia social</figcaption>
                    </figure>
                    <figure>
                        <a href="../Images/EvIS/pea.png" target="_blank"><img src="../Images/EvIS/pea.png" alt="Población Económicamente Activa"></a>
                        <figcaption>Población Económicamente Activa</figcaption>
                    </figure>
                </div>
            </div>

        </section>



    
        <div class="footer">
            <div class="footer-border">
                <h4 class="h4">Las ideas también se mueven en redes,<br>acompáñame!!</h4>
                <a href="https://github.com/LaReichel" target="_blank"><img class="media" src="../Images/github_logo_icon_206752.png"></a>
                <a href="https://www.instagram.com/simplementelarachel" target="_blank"><img class="media" src="../Images/Instagram_icon.png"></a>
                <a href="https://www.linkedin.com/in/raquel-p%C3%A9rez-neri-61112178" target="_blank"><img class="media" src="../Images/hd-linkedin-blue-official-logo.png"></a>
                <a href="https://wa.me/5580136129" target="_blank"><img class="media" src="../Images/pngtree-whatsapp-icon-png-image_3584844.png"></a>
            </div>
        </div>
        
    </body>    